################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GlobantTP.RestService/GlobantTP.RestService/obj/Release/AspnetCompileMerge/TempBuildDir/App_Data
